.slideshow{
	background: #CCC;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 80;
	opacity: 1;
}
.content {
	position: fixed;
	top: 10rem;
	left: 0;
	width: 100%;
	height: calc(100% - 10rem);
	pointer-events: none;
	z-index: 100;

}

.content__item {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 10vh 5vw;
	overflow: auto;
	display: none;

}

.content__item--current,
.content__item--current ~ .content__close {
	pointer-events: auto;
}

.content__close {
	font-size: 2em;
	position: fixed;
	top: 1rem;
	left: 1rem;
	background: transparent;
	color: currentColor;
	border: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	z-index: 101;
}
.content:hover{
	color: white;
}

.icon--longarrow {
	width: 2rem;
}

.content__close:focus {
	outline: none;
}

.content__number {
	font-weight: bold;
}

.content__number::before {
	content: "\2014";
	display: inline-block;
	margin: 0 1rem 0 0;
}

.content__title {
	margin: 0.5rem 0;
	font-size: 2rem;
}

.content__subtitle {
	margin: 0 0 0.5rem;
	font-size: 1rem;
	font-weight: normal;
}

.content__text {
	font-size: 0.85rem;
}


@media screen and (min-width: 53em) {
	
	.content {
		top: 0;
		height: 100%;
	}
	.content__item {
		padding: calc(10vh + 5rem) 0 7vh;
		width: 50.5%;
		right: 7.5%;
		overflow: visible;
	}
	.content__close {
		left: 42%;
		top: calc(10vh + 1rem);
	}
	.content__number {
		position: absolute;
		bottom: 7vh;
		right: 0;
		font-size: 2rem;
	}
	.content__title {
		font-size: 7vw;
	}
	.content__subtitle {
		font-size: 1.15rem;
		margin-bottom: 7.5vh;
	}
	.content__text {
		font-size: 0.95rem;
		
		max-width: 600px;
		text-align: justify;
	}
}
