body{
	padding: 0;
	margin: 0;
	font-family: 'IBM Plex Mono', monospace;
}

.main{	
	position: relative;	
	margin: auto;
	width: 700px;
	height: 100vh;
	/*font-family: 'Stylish', sans-serif;*/
	/*font-family: 'Titillium Web', sans-serif;*/
	
	/*border: 1px solid black;*/
}

.logo{
	position: absolute;
	bottom: 0;
	margin-left: 300px;
	
	width: 390px;
	height: 500px;

	font-size: 200px;
	line-height: 80%;
}

.about{
	position: absolute;
	
	color:red;
	margin-top: 180px;
	margin-left: 50px; 
	width: 300px;
	height: 100px;

	font-size: 80px;
	color: #F3F3F3;
	background-color: #474747;
}

.project{
	position: absolute;
	left: 420px;
	
	width:280px;
	height: 300px;
	font-size: 70px;
	color: #F3F3F3;
	background-color: #858585;
	
}

.contact{
	position: absolute;
	
	bottom: 0;
	margin-left: 0;
	/*margin-top: 440px;*/
	width: 200px;
	height: 380px;

	word-wrap: break-word;
	font-size: 85px;

	line-height: 80%;

	color: #F8F8F8;
	background-color: #6C6C6C;
}

.contact-text{
	width: 50px;
	float: left;

}

.astile{
	position: fixed;
	top:0; 
	margin: 0;
	left: inherit;
}

.project-astitle{
	left: 280px;
	top:0; 
	margin: 0;

	position: absolute;
	transform: rotate(90deg);  
	transform-origin: 0 0;
	
	width:300px;
	height: 280px;
	font-size: 70px;
	
}

/******* for About *********/
.introtext{
	position: absolute;
	top: 150px;
	
	width: 70%;
	height: 150px;
	font-size: 0.9em;
}

.resumetext{
	position: absolute;
	top: 330px;
	
	width: 100%;
	height: 100%;
	font-size: 0.8em;
}

.res_section{
	margin-bottom: 50px;
}

.work_section{
	margin-bottom: 20px;
}
.res-date{
	width: 160px;
	float: left;
}
.res_description{
	margin-left: 180px;
}

/******** for Contact ********/
.contact_content{
	width: 300px;
	height: 100%;
	
	position: absolute;
	right: 0;
	top:500px;

}
#email_address{
  width: 0;
  display: block;
  transition: 0.2s linear;
  opacity: 0;
  color: rgb(186,186,186);
}

h3:hover #email_address{
  width: auto;
  opacity: 1.0;
}

.link{
	color: #6C6C6C;
	margin-bottom: 30px;
}
.link a{
	color: #6C6C6C;
}

footer{
	position: fixed;
	bottom: 0;
	right: 10%;
	width: 700px;
  color: rgb(231, 231, 231);
  text-align: right;
}
