.fixed {
    position: fixed;
    
    
}


.menu{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 5px;
    right: 0;
  
    height: 100px;
    width: 86px;
    z-index: 3;
}

#navbarSupportedContent{
    
    margin-left: -128px;
}

.menucontent{
    transform: rotate(90deg);  
   
    
    /*height: 1.6em;*/
    width: 1.8em;
    font-size: 25px;
    color:#6C6C6C;
   
    opacity: 1;
}

.homeBack{
    height: 1.2em;

}

a{
    color:#efefef;
}
a:hover{
    color:#474747;
}
.navbar-light .navbar-toggler{
    border: none;
}


#cll{
    z-index: 50;
}
.navbar{
    display: block;
}
/*.closemenu{
    border: none;
    background:none;
    position: absolute;
    right: 0;
    color: #6C6C6C;
    font-size: 40px;
}*/


/*
.menucontent_opened .menucontent:nth-child(2) {
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}*/
.m_opened{
    
}
.menu_opened{
    z-index: -1;
    position: fixed;
    
    background: #ccc;
   
    left: 0;
    top: 0;
    padding-top: 15%; 
    display: block;
    height: 100%;
    width: 100%;
      
}

.menucontent_opened {
    padding-left: 5%;

    font-size: 40px;
    color:#6C6C6C;
   -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
    transition: opacity .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
    transition: opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1);
    transition: opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);

}
/*
.menucontent2 {
    font-family: social-gothic;
    font-size: 2.4em;
    font-weight: 600;
    line-height: 1.6em;
    opacity: 0;
    position: relative;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    -webkit-transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,transform 0s cubic-bezier(.165,.84,.44,1) .8s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    width: 1.6em;
}


















/*

.menu__menu___EVxPI {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    pointer-events: auto;
    position: absolute;
    -webkit-transition: color .6s cubic-bezier(.165,.84,.44,1);
    transition: color .6s cubic-bezier(.165,.84,.44,1);
}

.menu__menu__item___3PyBB {
    font-size: 1.2em;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: none;
    transition: none;
}

.menu__menu__item___3PyBB {
    font-family: social-gothic;
    font-size: 2.4em;
    font-weight: 600;
    line-height: 1.6em;
    opacity: 0;
    position: relative;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    -webkit-transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,transform 0s cubic-bezier(.165,.84,.44,1) .8s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    width: 1.6em;
}
/*//*/
.menu__menu__item___3PyBB {
    font-family: social-gothic;
    font-size: 2.4em;
    font-weight: 600;
    line-height: 1.6em;
    opacity: 0;
    position: relative;
    /* -webkit-transform: translateY(200%); */
    /* transform: translateY(200%); */
    /*-webkit-transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    /* transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s; */
    /* transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,transform 0s cubic-bezier(.165,.84,.44,1) .8s; */
    /* transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,transform 0s cubic-bezier(.165,.84,.44,1) .8s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s; */
    /*width: 1.6em;
}


.menu__menu--opened___1ilLF .menu__menu__item___3PyBB:nth-child(3) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.menu__menu--opened___1ilLF .menu__menu__item___3PyBB {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
    transition: opacity .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
    transition: opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1);
    transition: opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
}

/*//*/
.menu__menu--opened___1ilLF .menu__menu__overlay___RKcMD {
    opacity: 1;
    pointer-events: auto;
}
@media (min-width: 720px)
app.bundle.css?ver=1.0.8:1
.menu__menu__overlay___RKcMD {
    padding-left: 60px;
    padding-top: 30px;
}
@media (min-width: 0px)
app.bundle.css?ver=1.0.8:1
.menu__menu__overlay___RKcMD {
    padding-left: 46px;
    padding-top: 24px;
}
app.bundle.css?ver=1.0.8:1
.menu__menu__overlay___RKcMD {
    background-color: #f8f8f4;
    bottom: 0;
    color: #000;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: opacity .6s cubic-bezier(.215,.61,.355,1);
    transition: opacity .6s cubic-bezier(.215,.61,.355,1);
}

/*//*/



.menu__menu--opened___1ilLF .menu__menu__item___3PyBB:nth-child(2) {
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
app.bundle.css?ver=1.0.8:1
.menu__menu--opened___1ilLF .menu__menu__item___3PyBB {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
    transition: opacity .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
    transition: opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1);
    transition: opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
}
app.bundle.css?ver=1.0.8:1
.menu__menu__item___3PyBB {
    font-family: social-gothic;
    font-size: 2.4em;
    font-weight: 600;
    line-height: 1.6em;
    opacity: 0;
    position: relative;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    -webkit-transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    transition: opacity .8s cubic-bezier(.165,.84,.44,1) 0s,transform 0s cubic-bezier(.165,.84,.44,1) .8s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .8s;
    width: 1.6em;
}


*/



